.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    color: var(--terciary);
    padding: 1rem;

    h2 {
        padding: 0rem 1rem;
        font-size: 1.3rem;
    }

    h1,
    h2 {
        text-align: center;
    }

    img {
        width: 40%;
        height: auto;
        object-fit: contain;
    }
}
