.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	img {
		width: 100px;
		height: auto;
		object-fit: contain;
	}

	h2 {
		font-size: 1.5rem;
	}

	h2,
	p {
		color: var(--terciary);
	}

	p {
		margin: 0 1rem;
		text-align: center;
	}

	opacity: 0;
	transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
}

.container.visible {
	opacity: 1;
	transform: translateY(-1em);
}
