.container {
    display: flex;
    flex-direction: column;
    
    padding: 1rem;

    h1,
    h3,
    p {
        color: var(--terciary);
    }
    h1 {
        color: var(--primary);
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }
    h3 {
        padding: 0rem 2rem;
        padding-bottom: 2rem;
    }
}
